        <div class="toolsCard card text-center">
          <div class="card-header">
            <h3>TOOLS</h3>
          </div>
          <div class="card-body tlCdBody p-0">
            <div class="toolSel">
              <select class="optSel selc">
                <option disabled selected>Tool</option>
                <option>Total</option>
                <option>Revisión Snack</option>
                <option>Revisión Novedades</option>
              </select>
              <p class="date text-center"></p>
            </div>
            <div class="mainTool">
              <div class="totalVent">
                <div class="toolSel">
              <p class="text-center"><b>Sucursal:</b></p>
              <select class="sucSel selc">
                <option selected>INSURGENTES</option>
                <option>2 DE ABRIL</option>
                <option>LINCOLN 2</option>
                <option>LINCOLN OXXO</option>
                <option>RUÍZ CORTINES</option>
                <option>SIMÓN BOLIVAR</option>
                <option>TEC EXPRESS</option>
                <option>TECNOLOGÍCO</option>
                <option>WALMART</option>
              </select>
            </div>
                <div class="turno">
                  <label for="t1">T<span class="t1cl"> I</span></label>
                  <input type="number" class="t1 t1cl border-bottom" name="t1">
                </div>
                <div class="turno">
                  <label for="t2">T<span class="t2cl"> II</span></label>
                  <input type="number" class="t2 t2cl border-bottom" name="t2">
                </div>
                <div class="turno">
                  <label for="t3">T<span class="t3cl"> III</span></label>
                  <input type="number" class="t3 t3cl border-bottom" name="t3">
                </div>
                <div class="infTotal">
                  <p class="total"><b>Total:</b> <span class="vntTotal"></span></p>
                </div>
                <div class="ctrl">
                  <button class="btn smr">¡Enviar! <i class="bi bi-whatsapp"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>