        <nav class="navbar fixed-top barraNav p-0" style="--bs-bg-opacity: 0">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="img/logo.png" class="logo" alt="Logo" width="45" height="45" class="d-inline-block align-text-top"> INSURGENTES TEAM</a>
              <!--<div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn border light thBtn"><i class="ico bi bi-sun-fill" id="light"></i></button>
            <button type="button" class="btn border dark inv"><i class="bi bi-moon-fill" id="dark"></i></button>
          </div>-->
          </div>
        </nav>